
.banner {
    background-color: #ccc;
    /* background: url(../img/top-texture-2.webp) repeat; */
    /* background-size: auto 150%; */
    /* opacity: .05 */
}

.banner:before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: url(../img/path_bg.png) repeat;
    background-size: auto ;
}

/* background: url(&quot;/img/default.png&quot;) center center / cover no-repeat; transform: translate3d(0px, 0px, 0px); */

/* 插入小老虎 */
#board:before {
    display: block;
    position: absolute;
    right: 5%;
    top: -105px;
    height: 126px;
    width: 164px;
    content: ""; /* No delete */
    background: url(../img/about_nemo.png) no-repeat;
    background-size: auto 100%;
    z-index: 1000;
}

